*{
  margin: 0px;
  padding: 0px;
}


:root {
  --correct-answer-bg-color: rgba(149, 211, 149, 0.65);
  --correct-answer-border-color: rgb(24, 122, 15);

  --incorrect-answer-bg-color: rgba(214, 99, 99, 0.65);
  --incorrect-answer-border-color: rgb(114, 28, 28);

  --hover-color: rgba(161, 161, 161, 0.25);

  --default-border-radius: 8px;
  --default-border-style: 1px solid #b7b7b7;
  --default-transition: all 0.25s ease-out;

  --text-color: coral;
  --bg-color: rgba(10, 26, 48, 0.7);
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue',
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      rgba(12, 40, 67, 0.867),
      rgba(12, 40, 67, 0.867)
    ),
    url('./movie-bg.jpg');
  background-blend-mode: overlay;


 
}

h1 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

label[for='username'] {
  font-size: 1.25rem;
  display: block;
  margin-bottom: 0.5rem;
}

#username {
  width: 100%;
  border: var(--default-border-style);
  border-radius: var(--default-border-radius);
  transition: var(--default-transition);
  font-size: 1rem;
  height: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0rem;
  outline: none;
  width: 100%;
}

#username [type="text"]{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  padding-left: 0.5rem;
}

button {
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: var(--default-border-style);
  border-radius: var(--default-border-radius);
  background-color: #06192fff;
  padding: 0.8rem 1.25rem;
  transition: var(--default-transition);
  color: #fff;
  display: block;
  width: 100%;
}

button:hover {
  /* background-color: var(--hover-color);
   */
   background-color: rgb(9, 29, 53);
}

button:active {
  scale: 0.995;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem 2rem;
  border-radius: 1.5rem;
 
  backdrop-filter: (100px);
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: start;
  margin-bottom: 1rem;
}

.answer-option {
  text-align: start;
  font-weight: 550;
  cursor: pointer;
  padding: 1rem;
  border: var(--default-border-style);
  border-radius: var(--default-border-radius);
  transition: var(--default-transition);
}

.answer-option:hover {
  background-color: var(--hover-color);
}

.correct-answer {
  background-color: var(--correct-answer-bg-color);
  border-color: var(--correct-answer-border-color);
  animation: correctAnswerScaleUp 0.25s ease;
}

.correct-answer:hover {
  background-color: var(--correct-answer-bg-color);
}

.incorrect-answer {
  background-color: var(--incorrect-answer-bg-color);
  border-color: var(--incorrect-answer-border-color);
}

.incorrect-answer:hover {
  background-color: var(--incorrect-answer-bg-color);
}

.disabled {
  pointer-events: none;
}

.animateWithFadeAndSlide {
  animation: fadeAndSlide 0.4s ease;
}

@keyframes correctAnswerScaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.015);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeAndSlide {
  0% {
    opacity: 0;
    transform: translateX(25px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  font-size: 2.5rem;
}

.line {
  height: 0px;
  width: 100%;
  border: var(--default-border-style);
  margin-bottom: 0.5rem;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  font-size: 2.5rem;
  background-color: #fff;
  color: var(--text-color);
  background-color: var(--bg-color);
  padding: 2rem;
  border-radius: 10px;
  backdrop-filter: blur(50px);
}

#welcome-paragraph{
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

@media (max-width: 700px) {
  .centered{
    margin-top: 1rem;
    top: 60%;
    left: 50%;
  }
}