@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --quiz-window-bg-color: rgba(255, 255, 255, 0.8);

  --correct-answer-bg-color: rgba(149, 211, 149, 0.65);
  --correct-answer-border-color: rgb(24, 122, 15);

  --incorrect-answer-bg-color: rgba(214, 99, 99, 0.65);
  --incorrect-answer-border-color: rgb(114, 28, 28);

  --hover-color: rgba(250, 169, 157, 0.8);

  --default-border-radius: 8px;
  --default-border-style: 1px solid #b7b7b7;
  --default-transition: all 0.25s ease-out;

  --primary-color: #ff4b5c;
  --btn-hover-color: #f5707d;
}

.dark-mode {
  --quiz-window-bg-color: rgba(22, 21, 21, 0.8);
  --background-color: rgb(26, 24, 24);
  --text-color: rgb(232, 232, 232);
}

.dark-mode h1{
  color: #fff;
}

body.dark-mode {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.9)
  ),
  url('./movie-bg.jpg');
  background-blend-mode: multiply;
}

.dark-mode #welcome-paragraph {
  color: var(--text-color);
}

.dark-mode #username {
  background-color: rgb(37, 37, 37);
}

/* DARK MODE STYLES */

#user-interface {
  order: 1;
  background-color: var(--quiz-window-bg-color);
  transition: var(--default-transition);
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue',
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(
      rgba(11, 39, 65, 0.867),
      rgba(12, 40, 67, 0.867)
    ),
    url('./movie-bg.jpg');

  background-blend-mode: overlay;
  height: 100vh;
  width: 100vw;
  transition: var(--default-transition);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.theme-changer {
  order: -1; 
}

.timer {
  order: 0;
}

.quiz {
  order: 1;
}

h1 {
  font-size: 1.75rem;
  margin: 0.5rem;
  letter-spacing: 2px;
}

.question-heading {
  color: var(--primary-color);
  margin-top: 1rem;
  grid-column: 1;
  color: var(--text-color);
}

.final-msg {
  margin-bottom: 1rem;
}

label[for='username'] {
  font-size: 1.25rem;
  display: block;
  margin-bottom: 0.5rem;
}

button {
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border: var(--default-border-style);
  border-radius: var(--default-border-radius);
  background-color: var(--primary-color);
  padding: 0.8rem 1.25rem;
  transition: var(--default-transition);
  color: #fff;
  display: block;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 2px;
  grid-column: 1 / -1;
}

button:hover {
  background-color: var(--btn-hover-color);
}

button:active {
  scale: 0.995;
}

.centered {
  text-align: center;
  display: flex;
  padding: 2rem 2rem;
  border-radius: 1.5rem;
  margin: 1rem;
  backdrop-filter: (100px);
  width: 70%;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
  gap: 0.25rem;
  justify-content: start;
  margin-bottom: 1rem;
  grid-column: 2;
}

.answer-option {
  text-align: center;
  font-weight: 550;
  cursor: pointer;
  padding: 0.5rem;
  border: var(--default-border-style);
  border-radius: var(--default-border-radius);
  transition: var(--default-transition);
  color: var(--text-color);
  letter-spacing: 2px;
  font-size: 1.2rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.answer-option:hover {
  background-color: var(--hover-color);
  color: #fff;
  font-size: 1.25rem;
}

.correct-answer {
  background-color: var(--correct-answer-bg-color);
  border-color: var(--correct-answer-border-color);
  animation: correctAnswerScaleUp 0.25s ease;
}

.correct-answer:hover {
  background-color: var(--correct-answer-bg-color);
}

.incorrect-answer {
  background-color: var(--incorrect-answer-bg-color);
  border-color: var(--incorrect-answer-border-color);
}

.incorrect-answer:hover {
  background-color: var(--incorrect-answer-bg-color);
}

.disabled {
  pointer-events: none;
}

.animateWithFadeAndSlide {
  animation: fadeAndSlide 0.4s ease;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@keyframes correctAnswerScaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.015);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeAndSlide {
  0% {
    opacity: 0;
    transform: translateX(25px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.line {
  height: 0px;
  width: 100%;
  border: var(--default-border-style);
  margin-bottom: 0.5rem;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

#welcome-paragraph {
  font-size: 1.5rem;
  color: var(--btn-color);
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.timer {
  font-size: 2.5rem;
  color: #00ff00;
  padding: 0.5rem 1rem;
  background: #000;
  border-radius: 0.8rem;
  box-shadow: 0 4px 15px rgba(0, 255, 0, 0.5);
  text-transform: none;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-family: 'Orbitron', monospace;
}

.timer.warning {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.question-indicator {
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  font-size: 1.25rem;
  padding: 0.3rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  grid-column: 1 / -1;
}

.welcome form {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-top: 1rem;
}

.welcome input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  color: #f55d6c;
  border-bottom: 3px solid var(--primary-color);
  border-radius: 0.3rem;
  padding: 0.5rem 0rem;
}

input:focus {
  outline: none;
  border-color: transparent;
  border-bottom: 3px solid var(--primary-color);
}

.highlight {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 600;
}

input {
  width: 100%;
  height: 100%;
  padding: 0.65rem 1rem;
  font-size: 1rem;
  border: none;
}

input[type='text'] {
  width: 100%;
  text-align: center;
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 500;
}

#result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.result-gif {
  max-width: 300px;
  max-height: 300px;
  display: block; 
  margin: 0.5rem auto; 
}

#change-theme-button {
  order: -1;
  font-size: 1rem;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem 0.75rem;
  text-align: center;
  background-color: var(--primary-color);
}

#change-theme-button:hover {
  background-color: var(--btn-hover-color);
}

#greet-div-id {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .animateWithFadeAndSlide {
    grid-template-columns: 1fr;
  }

  ul {
    grid-column: 1;
  }
  .answer-option {
    padding: 1rem;
  }
  button {
    grid-column: 1;
  }
  .question-indicator {
    grid-column: 1;
  }
}
